<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">
<head>
</head>
<body>
<div layout:fragment="content">

    <div class="container-fluid p-2 pt-3">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <span style="font-size: 24px; font-weight: 700;">Thương Hiệu</span>

            <a href="/admin/thuonghieu/them-moi" type="button" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i>
                Thêm mới
            </a>
        </div>

        <div class="mt-3">
            <table id="tb" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Mô tả</th>
                    <th>Ngày tạo</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="thuongHieu : ${listThuongHieu}">
                    <td th:text="${thuongHieu.id}"></td>
                    <td th:text="${thuongHieu.ten}"></td>
                    <td th:text="${thuongHieu.moTa}"></td>
                    <td th:text="${thuongHieu.ngayTao}"></td>
                    <td th:switch="${thuongHieu.trangThai}">
                        <span th:case="1" class="text-success">Hoạt động</span>
                        <span th:case="0" class="text-danger">Đã xóa</span>
                        <span th:case="*" class="text-warning">Không xác định</span>
                    </td>
                    <td>
                        <a th:href="@{/admin/thuonghieu/cap-nhat/{id}(id=${thuongHieu.id})}" type="button" class="btn btn-primary btn-sm">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a th:href="@{/admin/thuonghieu/xoa/{id}(id=${thuongHieu.id})}" onclick="return confirm('Bạn có chắc chắn muốn xóa?')" type="button" class="btn btn-danger btn-sm">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>