.list-group-item {
  text-decoration: none !important;
  color: rgb(73, 73, 73);
}

.info {
  border: none;
  background-color: white !important;
  /* box-shadow: 0 0 2px rgba(119, 119, 119, 0.295); */
  font-weight: 500;
}

.content {
  background-color: rgba(245, 245, 245, 0.295);
  box-shadow: 0 2px 3px rgba(161, 161, 161, 0.377);
}

.fa-step-backward, .fa-chevron-left, .fa-chevron-right, .fa-step-forward {
	font-size: 12px;
	color: gray;
}

#menu{
	color: white;
	background: #84afbe;;
}

#brand {
	background: antiquewhite;
	color: brown;
}

.page-link {
	color: gray;
}

     /* Đổi toàn bộ menu sang màu đen */
 .menu-container {
     background-color: #3a4a4a !important;
     color: white !important;
 }
.menu-container .card-header,
.menu-container .list-group-item {
    text-align: left;
}
.list-group-item {
    background-color: #3a4a4a !important;
    color: white !important;
    border: none !important;
    padding-left: 2rem;
}
.list-group-item:hover {
    background-color: #333 !important;
}
.submenu .list-group-item {
    padding-left: 2rem;
}
.arrow-indicator {
    color: white;
}


