<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
	<footer th:fragment="footer" class="py-5" style="background-color: #f8f9fa;; ,">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5><strong>CÔNG TY CỔ PHẦN TRYON</strong></h5>
                    <p>Số ĐKKD: 0107574310, ngày cấp: 23/09/2016,</p>
                    <p>Nơi cấp: Sở Kế hoạch và đầu tư Hà Nội</p>
                    <p>Địa chỉ trụ sở tại Thành phố Hà Nội.</p>
                    <p>Điện thoại: 0123456789</p>
                    <p>Email: hello@TRYON.com</p>
                </div>
                <div class="col-md-2">
                    <h5>THƯƠNG HIỆU</h5>
                    <ul class="list-unstyled">
                        <li>Giới thiệu</li>
                        <li>Tin tức</li>
                        <li>Tuyển dụng</li>
                        <li>Hệ thống cửa hàng</li>
                        <li>Liên hệ</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>HỖ TRỢ</h5>
                    <ul class="list-unstyled">
                        <li>Hỏi đáp</li>
                        <li style="color: red;">Chính sách KHTT</li>
                        <li>Điều kiện - Điều khoản Chính sách KHTT</li>
                        <li>Chính sách vận chuyển</li>
                        <li>Gợi ý tìm size</li>
                        <li>Kiểm tra đơn hàng</li>
                        <li>Tra cứu điểm thẻ</li>
                        <li>Chính sách bảo mật thông tin KH</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>TẢI ỨNG DỤNG</h5>
                    <img src="google-play.png" alt="Google Play">
                    <img src="app-store.png" alt="App Store">
                    <h5>PHƯƠNG THỨC THANH TOÁN</h5>
                    <img src="payment-methods.png" alt="Thanh toán">
                </div>
            </div>

        </div>
    </footer>
</body>

</html>